// fonte principal
$fontePrincipal: Roboto, sans-serif;

// esquemas de cores 
$corPrincipal: #ffeaa7;
$corSecundaria:#00b894;
$corDoTexto:#dfe6e9;
$corDoBotao: #6c5ce7;

//*breakpoints
$mobile: 767px;
$tablet: 1023px;
